.login-form{
    background-color: rgb(251, 255, 255);
}
.card{
    border-radius: 20px;
}
img{
    width:100%;
    height: 100%;
}
button{
    width:150px;
}
.asd{
    text-decoration: none;
}
a img{
    width: 100px;
    height: 100px;
}