

*{
    box-sizing: border-box;
}
:root{
    --font-base:"Poppins";
}

body{
    background-image: url('../images/bg5.png');
    background-size: cover; 
    background-position: center;

}

#content{
    height: 100vh;

    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 200px;

}

#content h1{
    color: rgb(19, 53, 15);
    font-family: var(--font-base);
    padding-bottom: 20px;
}

#content p{
    padding-right: 50%;
    font-size: 1.2em;
    padding-bottom: 10px;
}

#content h2{
    padding-bottom: 10px;
    color: rgb(130, 86, 4);
}
@media (min-width: 540px) and (max-width: 767px){
    [class*="col-"] {
        width: 100%;
    }
    #content p{
        padding-right: 50%;
        font-size: 0.6em;
        padding-bottom: 10px;
    }
}